{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>BikeToWork.us</title>

  <link rel="stylesheet" type="text/css"
                  href="{% static "bootstrap/css/bootstrap.min.css" %}">

  </head>

  <body>
    <div class="container">
        <div class="pull-right">
            {% if user.is_authenticated %}
                <small>Hi {{ user.username }}! | <a href="{% url 'logout' %}">logout</a></small>
            {% else %}
                <small><a href="{% url 'login' %}">login</a></small>
            {% endif %}
        </div>
        <div class="page-header">
          {% if user.is_authenticated %}
            <div class="pull-right btn-group">
              <a href="{% url 'new_ride' %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> New Ride</a>
            </div>
          {% endif %}
          <h1 id="navbar">Bike To Work</h1>
        </div>
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{message.level_tag }}">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
  </body>
</html>

